html {
    scroll-behavior: smooth; /* 부드러운 스크롤 효과 추가 */
       
    font-size: 62.5%;    /* 1rem = 10px */   
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'),
       url('https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdTmvIRcdvfo.woff2') format('woff2');
  unicode-range: U+0020-007E; /* 기본 라틴 문자 (영문, 숫자, 기호) */
}


@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 400;
  src: local('Pretendard'),
       url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/woff2/Pretendard-Regular.woff2') format('woff2');
  unicode-range: U+AC00-D7A3; /* 한글 음절 */
}

html, body {
  font-family: 'IBM Plex Sans', 'Pretendard', sans-serif;color : #222 ; 
}


h2 {
    font-size: 4.8rem;  
    font-weight : 500 ;      
}

h3 {
    font-size: 3.6rem;  
    font-weight : 500 ; 
} 

h4 {
     font-size: 2.4rem;  
    font-weight : 400 ; 
}

h5 {
      font-size: 2.0rem;  
    font-weight : 400 ; 
}

h6 {
   font-size: 1.8rem;  
    font-weight : 400 ; 
}







