.profile{
    width : 100% ;   
    height : 100vh ; 
    text-align: center;
}

.r_title {
    width : 100% ;  
    max-width : 40% ; 
    margin: auto;
    text-align: center;  
}


.pdf_box {
    width : 100% ;  
    max-width : 50% ; 
    height : auto ; 
    margin: auto; 
}

.img_box {
 
}

.download { 
    margin-top: 20px ; 
}

.download p {
    font-size: 1.8rem;
}
